h1 {
    text-align: center;
    margin-top: 50px;
}

.form-wrapper{
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}

.form-wrapper .cols-wrapper{
    margin: 0 auto;
}

.cols-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 60px;
    grid-gap: 10px;
}

.cols.left{
grid-row: 1/2;
grid-column: 1/2;
}
.cols.center{
grid-row: 1/2;
grid-column: 2/3;
}

.cols.right{
grid-row: 1/2;
grid-column: 3/4;
}

.cols-left-center{
grid-row: 2/3;
grid-column: 1/5;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.col-last-right{
    grid-column: 4/5;
    grid-row: 1/2;
}



form {
    
    margin: 0 auto;
    margin-top: 50px;
    background-color: #111827;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbbbbb;
    color: #fff;
}



.form-group {
    margin-top: 20px;
    width: 300px;
}
.custom-form-groups{
    margin-top: 20px;
        width: 260px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"]{
    color: #111827;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
}

button[type="submit"] {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3E8E41;
}

.clearfix{
    height: 70px;
}